# Titanic Dataset

### = Read In CSV...

** + Where did the data come from?**
- Harland & Wolff Heavy Industries, builders of the Titanic 

** + What information does this data represent?**
- The **rows** represent: Pasengers who were aboard the titanic.
- The **columns/features** represent: Attributes of each passenger.

** + What information do the feature labels represent?**
- **Survived**: Outcome of survival (0 = No; 1 = Yes)
- **Pclass**: Socio-economic class (1 = Upper class; 2 = Middle class; 3 = Lower class)
- **Name**: Name of passenger
- **Sex**: Sex of the passenger
- **Age**: Age of the passenger (Some entries contain `NaN`)
- **SibSp**: Number of siblings and spouses of the passenger aboard
- **Parch**: Number of parents and children of the passenger aboard
- **Ticket**: Ticket number of the passenger
- **Fare**: Fare paid by the passenger
- **Cabin** Cabin number of the passenger (Some entries contain `NaN`)
- **Embarked**: Port of embarkation of the passenger (C = Cherbourg; Q = Queenstown; S = Southampton)

In [1]:
import pandas as pd

df = pd.read_csv("titanic.csv")

df.head()

,Id,Name,Class,Sex,Age,Fare,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,7.2500,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,71.2833,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,7.9250,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,53.1000,1
4,5,"Allen, Mr. William Henry",3,male,35.0,8.0500,0